* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    width: 100vw;
    height: 100vh;
}
#svg-404 {
    background-color: #2e4482;
}
#star {
    fill:white;
}
#wave-top {
    animation: waveMove 5s infinite;
}
#boat-group {
    animation: boatMove 5s infinite;
}
.boat {
    stroke: rgb(145, 143, 143);
    stroke-width: 0.15em;
    fill:rgb(145, 143, 143);
}
.boat-flag {
    stroke: rgb(117, 103, 103);
    stroke-width: 0.15em;
    fill: rgb(228, 143, 143);
}
.boat-top {
    stroke: rgb(228, 226, 226);
    stroke-width: 0.15em;
    fill:rgb(228, 226, 226);
}
.star {
    stroke: white;
    stroke-width: 0.15em;
    fill:white;
}
.stroke {
    stroke: #bea9de;
    stroke-width: 0.15em;
    fill:transparent;
}
.stroke-moon {
    stroke: white;
    stroke-width: 0.15em;
    fill:transparent;
}

.stroke-wave {
    stroke: #546bab;
    stroke-width: 0.20em;
    fill:#546bab;
}


@keyframes waveMove {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0,1em);
    }
    100% {
        transform: translate(0,0em);
    }
}

@keyframes boatMove {
    0% {
        transform: translate(0em,0em);
    }
    50% {
        transform: translate(0em,1.8em);
    }
    100% {
        transform: translate(0em,0em);
    }
}
